@font-face {
  font-family: mulis-light;
  src: url("../src/fonts/mulish-light.ttf");
}

@font-face {
  font-family: mulis-regular;
  src: url("../src/fonts/mulish-regular.ttf");
}

@font-face {
  font-family: mulis-semi-bold;
  src: url("../src/fonts/mulish-semi-bold.ttf");
}

@font-face {
  font-family: ivyMode-regular;
  src: url("../src/fonts/IvyMode-Regular.ttf");
}

@font-face {
  font-family: ivyMode-italic;
  src: url("../src/fonts/IvyMode-Italic.ttf");
}

@font-face {
  font-family: ivyMode-semiBold;
  src: url("../src/fonts/IvyMode-SemiBold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p,
h3,
h4 {
  font-family: mulis-light;
}

h1,
h2,
li {
  font-family: ivyMode-regular;
}

p {
  line-height: 35px;
  font-size: 20px;
}

li {
  letter-spacing: 0.05em;
}

h2 {
  font-size: 40px;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-size: 20px;
  line-height: 40px;
}

li {
  list-style: none;
  cursor: pointer;
  transition: 0.300ms ease-in;
}

li:hover {
  color: #295d4e;
  font-weight: 600;
}

header {
  width: 100vw;
  position: fixed;
  z-index : 1
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #295d4e;
  margin-bottom: 32px;
  width: 1140px;
  margin: auto;
  background-color: white;
  padding: 0 10px;
 
}

.logo {
  font-family: ivyMode-semiBold;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #295d4e;
  flex-grow: 0;
  cursor: pointer;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.hero-section {
  text-align: center;
  margin-bottom: 55px;
  margin-top: 8em;
}

.resto-img {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 100px;
  margin-bottom: 55px;
}

.hero-section > div > p {
  margin-bottom: 55px;
}

.menu-btn {
  text-align: center;
  width: 128px;
  height: 45px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.15em;
  font-family: ivyMode-semiBold;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: #295d4e;
  border: 1px solid #295d4e;
  color: #fff;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 230px;
}

.contacts h2 {
  font-size: 32px;
  font-style: italic;
}

.contacts div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: #295d4e;
  font-style: italic;
}

.about,
.menu {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.about {
  letter-spacing: 0.125em;

  text-align: justify;
  margin-bottom: 55px;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  width: 788px;
}

.banner {
  margin-bottom: 55px;
  text-align: center;
}

.appetizers,
.salads {
  display: grid;
  grid-template-columns: 364px 385px 385px;
  grid-template-rows: 80px 1fr 1fr;
  margin: 50px 0;
}

.entrees,
.desserts {
  display: grid;
  grid-template-columns: 385px 385px 364px;
  grid-template-rows: 80px 1fr 1fr;
  margin: 50px 0;
}

.entrees .img,
.desserts .img {
  grid-area: 2 / 3 / 4 / 4;
  justify-self: center;
}

.appetizers .img,
.salads .img {
  grid-area: 2 / 1 / 4 / 2;
  justify-self: center;
}

.slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #295d4e;
  margin-top: 5px;
}

.img {
  position: relative;

}

.slider-dots {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 40%;
  display: flex;
  gap: 10px;
  width: 79px;
  z-index: 1;
}

.dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active,
.dot:hover {
  background-color: #295d4e;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  font-weight: 600;
font-size: 20px;
background-color: #fff;
border-bottom: 1px solid #295d4e;
}

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 25px;
  transition: 0.6s ease;
}

.prev {
  left: 0;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: #295d4e;
  color: #fff;
}

.appetizers h3,
.salads h3 {
  grid-area: 1 / 1 / 2 / 4;
  font-size: 30px;
  font-family: ivyMode-regular;
  width: 350px;
  text-align: center;
  letter-spacing: 0.125em;
}

.entrees h3,
.desserts h3 {
  font-size: 30px;
  font-family: ivyMode-regular;

  text-align: center;
  grid-column-end: -1;
  letter-spacing: 0.125em;
}

.testimonials {
  display: flex;
  justify-content: center;
  margin-bottom: 103px;
  margin-top: 25px;
}

.testimonials .content {
  width: 550px;
}

.content h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 80px;
  width: 449px;
}

.content p {
  width: 500px;
}

.quote {
  width: 584px;
  height: 378px;
  background: #d7e6dd;
  border-radius: 5px;
  position: relative;
  padding: 64px 0 0 64px;
}

.quote > p {
  width: 410px;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}

.quote > img {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50px;
  right: 50px;
}

.info {
  display: flex;
  margin-left: auto;
  width: 250px;
}

.info img {
  height: 64px;
  width: 64px;
}

.info {
  margin-left: auto;
}

.name p:nth-child(2) {
  font-size: 15px;
}

.footer {
  display: flex;
  height: 110px;
  background: #295d4e;
  width: 100vw;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: mulis-semi-bold;
  letter-spacing: 0.125em;
}
